.footer {
    background: #1cafb9;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(28, 42, 44, 0.1);
    box-sizing: border-box;
    font-size: 0.8rem; /* Smaller font size */
  }
  
  .footer-logo {
    height: 50px; /* Smaller height */
    width: auto;
  }
  
  .company-footer {
    text-align: center;
    flex: 1;
  }
  
  .contacts {
    text-align: right;
  }
  
  .contacts ul {
    padding: 0;
    margin: 0;
  }
  
  .contact-item {
    margin: 5px 0;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .contact-item:hover {
    text-decoration: underline;
    cursor: pointer; /* Pointer on hover */
  }
  