/* Navbar CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: skyblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#company-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#company-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
