.user-container {
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(53, 190, 190, 0.603);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

.balance-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.balance-amount {
  font-weight: bold;
}

.deposit-bar {
  margin-top: 10px;
  width: 100%;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}
